<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/static/css/register.css" rel="stylesheet">

</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat,mes in messages %}
                <div class="alert alert-{{ cat }}">
                    {{ mes }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="wrapper">
        <div class="card">
            <form method="POST" action="#" class="d-flex flex-column text-dark">
                {{ form.hidden_tag() }}
                <div class="h3 text-center text-white">Sign-up</div>
                <div class="d-flex align-items-center input-field my-3 mb-4"> 
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control", type="email") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.email.errors %}
                        <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div class="d-flex align-items-center input-field my-2 mb-1">
                    {{ form.password_length.label(class="form-check-label") }}

                    {{ form.password_length(class="form-check ") }}
                </div>
                <div class="my-2">
                    {{ form.generate_password(class="btn btn-primary w-50") }}
                </div>
                {% if password %}
                <label class="form-control-label text-white" for="password">Generated password:</label>
                <input class="form-control" type="text" id="password" name="password" value="{{ password }}" readonly><br><br>
                {% else %}
                <div class="d-flex align-items-center input-field">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for err in form.password.errors %}
                        <span>{{ err }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <div class="my-2">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>